java
/samples/xml
/bin
/src/flavorc/flavorc


*.a
*.o
*.swp


# Autotools garbage

/autom4te.cache
/ylwrap
/config.*
Makefile
Makefile.in
autoscan.log

# Eclipse garbage
/.cproject
/.project
/.settings

# MSVC garbage
*.dsp
*.dsw
*.opt
*.ncb
*.lib
*.dll
